@model HASRental.Models.Renta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Renta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRentanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRentanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumVracanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumVracanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DodatneNaznake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DodatneNaznake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vozilo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vozilo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocetnaLokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocetnaLokacija.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrajnjaLokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrajnjaLokacija.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipRezervoara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipRezervoara.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
